<!-- inicio body -->
<section class="well text-center">
  <div class="row pt-4">
    <div class="col">
      <h3 class="text-center"> BIENVENIDO AL PORTAL DE BIBLIOTECA</h3>
    </div>
  </div>

  <div class="row pt-2 text-center">
    <div class="col">
      <%= render 'layouts/messages' %>
    </div>
  </div>

  <div class="row d-none d-sm-block">
    <div class="col-12 pt-2">
      <%= image_tag('logo.png', :class => "img-fluid img-thumbnail logo") %>
    </div>
  </div>

  <div class="row pt-4 pb-4">
    <div class="col">
      <h4 class="medium color_blue text-center">Universidad Tecnológica de la Mixteca</h4>
      <h5 class="small color_blue text-center">Departamento de Servicios Escolares</h5>
    </div>
  </div>
</section>
<!-- fin body-->