/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
}

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}

.fondo {
	background: #ffffff;
}
.color {
	color: #006BAA;
}
.img-circle {
	height: 28px;
	width: 28px;
}
.color_white {
	background: #ffffff;
}
.bg-blue {
	background: #006BAA !important;
}
.bg-skyblue {
	background: #0dbaf0;
}
.color_blue {
	color: #006BAA !important;
}
.menu {
	background: #006BAA;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px; /* Set the fixed height of the footer here */
	line-height: 60px; /* Vertically center the text there */
}

.navbar-right {
    float: right !important;
}
.logo {
	width: 200px;
	height: 200px;
}
.well {
	border: 1px solid #dcdcdc;
	background: white;
}

.medium {
	font-size: 125%;
}
.tms {
	width: 50%;
}
html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
.warning {
    color: #ffab00;
}
.primary {
    color: #03a9f4;
}

.danger {
    color: #e53935;
}

.profile-picture {
    border: 1px solid #CCC;
    background-color: #FFF;
    padding: 4px;
    display: inline-block;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px rgba(0,0,0,.15);
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.profile-user-info {
    display:table;
    width:98%;
    width:calc(100% - 24px);
    margin:0 auto;
}
.profile-info-row {
    display:table-row;
}
.profile-info-name,.profile-info-value {
    display:table-cell;
    border-top:1px dotted #D5E4F1
}
.profile-info-name {
    text-align:right;
    padding:6px 10px 6px 4px;
    font-weight:400;
    color:#667E99;
    background-color:transparent;
    width:110px;
    vertical-align:middle
}
.profile-info-value {
    padding:6px 4px 6px 6px
}
.profile-info-value>span+span:before {
    display:inline;
    content:",";
    margin-left:1px;
    margin-right:3px;
    color:#666;
    border-bottom:1px solid #FFF
}
.profile-info-value>span+span.editable-container:before {
    display:none
}
.profile-info-row:first-child .profile-info-name,.profile-info-row:first-child .profile-info-value {
    border-top:none
}
.profile-user-info-striped {
    border:1px solid #DCEBF7
}
.profile-user-info-striped .profile-info-name {
    color:#336199;
    background-color:#EDF3F4;
    border-top:1px solid #F7FBFF
}
.profile-user-info-striped .profile-info-value {
    border-top:1px dotted #DCEBF7;
    padding-left:12px
}
.profile-picture {
    border:1px solid #CCC;
    background-color:#FFF;
    padding:4px;
    display:inline-block;
    max-width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    box-shadow:1px 1px 1px rgba(0,0,0,.15)
}
.dd-empty,.dd-handle,.dd-placeholder,.dd2-content {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box
}
.profile-activity {
    padding:10px 4px;
    border-bottom:1px dotted #D0D8E0;
    position:relative;
    border-left:1px dotted #FFF;
    border-right:1px dotted #FFF
}
.profile-activity:first-child {
    border-top:1px dotted transparent
}
.profile-activity:first-child:hover {
    border-top-color:#D0D8E0
}
.profile-activity:hover {
    background-color:#F4F9FD;
    border-left:1px dotted #D0D8E0;
    border-right:1px dotted #D0D8E0
}
.profile-activity img {
    border:2px solid #C9D6E5;
    border-radius:100%;
    max-width:40px;
    margin-right:10px;
    margin-left:0;
    box-shadow:none
}
.profile-activity .thumbicon {
    background-color:#74ABD7;
    display:inline-block;
    border-radius:100%;
    width:38px;
    height:38px;
    color:#FFF;
    font-size:18px;
    text-align:center;
    line-height:38px;
    margin-right:10px;
    margin-left:0;
    text-shadow:none!important
}
.profile-activity .time {
    display:block;
    margin-top:4px;
    color:#777
}
.profile-activity a.user {
    font-weight:700;
    color:#9585BF
}
.profile-activity .tools {
    position:absolute;
    right:12px;
    bottom:8px;
    display:none
}
.profile-activity:hover .tools {
    display:block
}
.user-profile .ace-thumbnails li {
    border:1px solid #CCC;
    padding:3px;
    margin:6px
}
.user-profile .ace-thumbnails li .tools {
    left:3px;
    right:3px
}
.user-profile .ace-thumbnails li:hover .tools {
    bottom:3px
}
.user-title-label:hover {
    text-decoration:none
}
.user-title-label+.dropdown-menu {
    margin-left:-12px
}
.profile-contact-links {
    padding:4px 2px 5px;
    border:1px solid #E0E2E5;
    background-color:#F8FAFC
}
.btn-link:hover .ace-icon {
    text-decoration:none!important
}
.profile-social-links>a:hover>.ace-icon,.profile-users .memberdiv .name a:hover .ace-icon,.profile-users .memberdiv .tools>a:hover {
    text-decoration:none
}
.profile-social-links>a {
    text-decoration:none;
    margin:0 1px
}
.profile-skills .progress {
    height:26px;
    margin-bottom:2px;
    background-color:transparent
}
.profile-skills .progress .progress-bar {
    line-height:26px;
    font-size:13px;
    font-weight:700;
    font-family:"Open Sans";
    padding:0 8px
}
.profile-users .user {
    display:block;
    position:static;
    text-align:center;
    width:auto
}
.profile-users .user img {
    padding:2px;
    border-radius:100%;
    border:1px solid #AAA;
    max-width:none;
    width:64px;
    -webkit-transition:all .1s;
    -o-transition:all .1s;
    transition:all .1s
}
.profile-users .user img:hover {
    -webkit-box-shadow:0 0 1px 1px rgba(0,0,0,.33);
    box-shadow:0 0 1px 1px rgba(0,0,0,.33)
}
.profile-users .memberdiv {
    background-color:#FFF;
    width:100px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    border:none;
    text-align:center;
    margin:0 8px 24px
}
.profile-users .memberdiv .body {
    display:inline-block;
    margin:8px 0 0
}
.profile-users .memberdiv .popover {
    visibility:hidden;
    min-width:0;
    max-height:0;
    max-width:0;
    margin-left:0;
    margin-right:0;
    top:-5%;
    left:auto;
    right:auto;
    opacity:0;
    display:none;
    position:absolute;
    -webkit-transition:opacity .2s linear 0s,visibility 0s linear .2s,max-height 0s linear .2s,max-width 0s linear .2s,min-width 0s linear .2s;
    -o-transition:opacity .2s linear 0s,visibility 0s linear .2s,max-height 0s linear .2s,max-width 0s linear .2s,min-width 0s linear .2s;
    transition:opacity .2s linear 0s,visibility 0s linear .2s,max-height 0s linear .2s,max-width 0s linear .2s,min-width 0s linear .2s
}
.profile-users .memberdiv .popover.right {
    left:100%;
    right:auto;
    display:block
}
.profile-users .memberdiv .popover.left {
    left:auto;
    right:100%;
    display:block
}
.profile-users .memberdiv>:first-child:hover .popover {
    visibility:visible;
    opacity:1;
    z-index:1060;
    max-height:250px;
    max-width:250px;
    min-width:150px;
    -webkit-transition-delay:0s;
    -moz-transition-delay:0s;
    -o-transition-delay:0s;
    transition-delay:0s
}
.profile-users .memberdiv .tools {
    position:static;
    display:block;
    width:100%;
    margin-top:2px
}
.profile-users .memberdiv .tools>a {
    margin:0 2px
}
.user-status {
    display:inline-block;
    width:11px;
    height:11px;
    background-color:#FFF;
    border:3px solid #AAA;
    border-radius:100%;
    vertical-align:middle;
    margin-right:1px
}
.user-status.status-online {
    border-color:#8AC16C
}
.user-status.status-busy {
    border-color:#E07F69
}
.user-status.status-idle {
    border-color:#FFB752
}
.tab-content.profile-edit-tab-content {
    border:1px solid #DDD;
    padding:8px 32px 32px;
    -webkit-box-shadow:1px 1px 0 0 rgba(0,0,0,.2);
    box-shadow:1px 1px 0 0 rgba(0,0,0,.2);
    background-color:#FFF
}
@media only screen and (max-width:480px) {
    .profile-info-name {
        width:80px
    }
    .profile-user-info-striped .profile-info-name {
        float:none;
        width:auto;
        text-align:left;
        padding:6px 4px 6px 10px;
        display:block
    }
    .profile-user-info-striped .profile-info-value {
        margin-left:10px;
        display:block
    }
    .user-profile .memberdiv {
        width:50%;
        margin-left:0;
        margin-right:0
    }
}
.container-login {
    width: 100%;
    min-height: 100vh;
    /*! display: -webkit-box; */
    /*! display: -webkit-flex; */
    /*! display: -moz-box; */
    /*! display: -ms-flexbox; */
    display: flex;
    /*! flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.wrap-login {
    width: 670px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.login-form-title {
    width: 100%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 30px 15px 30px 15px;
}

.login-form-title-1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

.login-form-title::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(54,84,99,0.7);
}
.login-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 43px 88px 93px 190px;
}

.wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #b2b2b2;
}

.label-input {
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    text-align: right;

    position: absolute;
    top: 14px;
    left: -105px;
    width: 80px;

}
.m-b-26 {
    margin-bottom: 26px;
}
.input {
    font-size: 15px;
    color: #555555;
    line-height: 1.2;

    display: block;
    width: 100%;
    background: transparent;
    padding: 0 5px;
}
input {
    outline: none;
    border: none;
}
.input-height {
    height: 45px;
}

.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;

    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;

    background: #57b846;
}

.input:focus + .focus-input::before {
    width: 100%;
}

.has-val.input + .focus-input::before {
    width: 100%;
}

.container-login-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.login-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #57b846;
    border-radius: 25px;

    font-size: 16px;
    color: #fff;
    line-height: 1.2;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login-form-btn:hover {
    background-color: #333333;
}

.flex-sb-m {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}
.w-full {
    width: 100%;
}
.p-b-30 {
    padding-bottom: 30px;
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
    .login-form {
        padding: 43px 15px 57px 117px;
    }
}

@media (max-width: 480px) {
    .login-form {
        padding: 43px 15px 57px 15px;
    }

    .label-input {
        text-align: left;
        position: unset;
        top: unset;
        left: unset;
        width: 100%;
        padding: 0 5px;
    }
}

.label-checkbox {
    font-size: 14px;
    color: #999999;
    padding-left: 10px;
}
.pt-20 {
    padding-top: 20em;
}
.navy {
    background: #006BAA;
}