<!-- inicio menu -->
<div class="container-fluid menu">
  <div class="container text-white">
    <div class="row">
      <a class="nav-link col-xm-12 col-sm-12 col-lg-3 text-white " href="#">
        <i class="fas fa-cart-plus"></i> Prestamos
      </a>
      <a class="nav-link col-xm-12 col-sm-12 col-lg-3 text-white " href="#">
        <i class="fas fa-exchange-alt"></i> Devoluciones
      </a>
      <a class="nav-link col-xm-12  col-sm-12 col-lg-3 text-white " href="#">
        <i class="fas fa-gavel"></i> Sanciones
      </a>
      <a class="nav-link col-xm-12  col-sm-12 col-lg-3 text-white " href="#">
        <i class="fas fa-newspaper"></i> Reportes
      </a>
    </div>
  </div>
</div>
<!-- fin menu -->