<!-- inicio menu -->
<div class="container-fluid menu">
  <div class="container text-white">
    <div class="row">
      <a class="nav-link col-xm-12 col-sm-12 col-lg-3 text-white " href="#">
        <%= fa_icon "cart-plus", text:'Prestamos' %>
      </a>
      <a class="nav-link col-xm-12 col-sm-12 col-lg-3 text-white " href="#">
        <%= fa_icon "exchange-alt", text: 'Devoluciones' %>
      </a>
      <a class="nav-link col-xm-12  col-sm-12 col-lg-3 text-white " href="#">
        <%= fa_icon "gavel", text: 'Sanciones' %>
      </a>
      <a class="nav-link col-xm-12  col-sm-12 col-lg-3 text-white " href="#">
        <%= fa_icon "newspaper", text: 'Reportes' %>
      </a>
    </div>
  </div>
</div>
<!-- fin menu -->