<% flash.each do |key, value| %>
  <div class="tms mr-auto ml-auto alert alert-<%= key %> alert-dismissable text-center" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <%= value %>
  </div>
<% end %>