<!-- inicio navbar-->
<nav class="navbar fondo navbar-expand-lg sticky-top">
  <div class="container pt-2 text-center">
    <a class="navbar-brand" href="#">
      <div class="row">
        <div class="col-lg-6">
          <%= image_tag('identidad_seres.png', :class => "d-inline-block", :width => 'auto', :height => 36) %>
        </div>
        <div class="col-lg-6 pt-1">
          <p class="lead color">| Portal de Biblioteca</p>
        </div>
      </div>
    </a>
    <button class="navbar-toggler ml-auto mr-auto bg-primary" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars color_white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <div class="navbar-nav ml-auto text-center">
        <a class="nav-item nav-link active color" href="#">
          <% if user_signed_in? %>
            <%= image_tag('avatar.jpg', :class => "rounded-circle img-circle") %> <%= current_user.username %>
          <% end %>
        </a>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle color" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell color"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#"> Notificacion 1</a>
            <a class="dropdown-item" href="#"> Notificacion 2</a>
            <a class="dropdown-item" href="#"> Notificacion 3</a>
          </div>
        </div>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle color" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-cogs color"> </i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
            <a class="dropdown-item" href="#"> <i class="fas fa-bookmark"></i> Catalogos</a>
            <a class="dropdown-item" href="#"> <i class="fas fa-newspaper"></i> Reportes</a>
            <a class="dropdown-item" href="#"> <i class="fas fa-cog"></i> Configuración</a>
          </div>
        </div>

        <% if user_signed_in? %>
          <%= link_to destroy_user_session_path, :class => 'nav-item nav-link active color', method: :delete do %>
            <i class="fas fa-sign-out-alt"></i>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</nav>
<!-- fin navbar -->

